<!DOCTYPE html>
<html>
<head>
    <title>Visitor Management</title>
</head>
<body>
    <!-- SEARCH BAAR -->
    <form method="GET">
        <input type="text" name="search" placeholder="Search by name or person visited">
        <button type="submit">Search</button>
    </form>
    <!-- SEARCH BAAR END -->

    <!-- DROPDOWN LIST -->
    <form method="GET">
    Filter by:
    <select name="month">
        <option value="">All Months</option>
        {% for m in months %}
        <option value="{{ m }}" {% if request.GET.month == m %}selected{% endif %}>{{ m }}</option>
        {% endfor %}
    </select>

    <select name="year">
        <option value="">All Years</option>
        {% for y in years %}
        <option value="{{ y }}" {% if request.GET.year == y %}selected{% endif %}>{{ y }}</option>
        {% endfor %}
    </select>

    <select name="whom">
        <option value="">All Persons</option>
        {% for w in whoms %}
        <option value="{{ w }}" {% if request.GET.whom == w %}selected{% endif %}>{{ w }}</option>
        {% endfor %}
    </select>

    <button type="submit">Apply</button>
</form>
    <!-- DROPDOWN LIST END -->


    <center>
    <h2>Add Visitor</h2>
    <form method="POST">
        {% csrf_token %}
        <table> 
            <tr> 
                <td>Visitor Name :  </td>
                <td><input type="text" name="name" placeholder="Visitor Name" required><br></td>
            </tr>
             <tr> 
                <td>Visting Whome : </td>
                <td><input type="text" name="visiting_whom" placeholder="Visiting Whom" required><br><br></td>
            </tr>
             <tr> 
                <td> Purpose :</td>
                <td><input type="text" name="purpose" placeholder="Purpose" required><br><br></td>
            </tr>
             <tr> 
                <td>iN DATE</td>
                <td><input type="date" name="in_time" required><br><br></td>
            </tr>
             <tr> 
                <td>Out DATE</td>
                <td><input type="date" name="out_time" required><br><br></td>
            </tr>
            <tr> 
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>    
    </form>
    </center>

    <h2>Recent Visitors</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Whom Visiting</th>
            <th>Purpose</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Action</th>
        </tr>
        {% for v in visitors %}
        <tr>
            <th>{{ v.name }} </th>
            <th>{{ v.visiting_whom }}</th>
            <th>{{v.purpose}}</th>
            <th> {{ v.in_time }}</th>
            <th>{{ v.out_time }}</th>
            <th>
                <a href="{% url 'edit' v.id %}">Edit</a>
                <a href="{% url 'delete' v.id %}" onclick="return confirm('Are you sure?')">Delete</a>
            </th>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
